/* RPS style sheet */

body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  background-color: rgb(10, 10, 30);
  color: white;
  margin: 0;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  margin: 10px 0 20px 0;
}

p {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 20px;
}

img {
  background-color: gray;
  width: 350px;
  height: 250px;
}

button {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin: 8px;
  padding: 8px 26px;
  color: white;
  background-color: rgb(35, 30, 65);
  border: none;
  border-radius: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 65, 100);
  border-bottom: 4px rgb(255, 255, 255) solid;
}

.middle {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.player,
.computer,
.round {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  padding: 20px;
  background-color: rgb(55, 65, 100);
  border: 4px rgb(255, 255, 255) solid;
  width: 500px;
  height: 400px;
}

.round {
  justify-content: center;
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(55, 65, 100);
  border-top: 4px rgb(255, 255, 255) solid;
  border-bottom: 4px rgb(255, 255, 255) solid;
  margin: 20px 0;
}

.choices {
  display: flex;
  justify-content: center;
  background-color: rgb(55, 65, 100);
  border-top: 4px rgb(255, 255, 255) solid;
  padding: 20px;
}
